.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea
/app/.gitignore
.DS_Store
/build
/captures
/.svn
/gradle
/app/build
/app/app.iml
gradlew